# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
venv/

# macOS
.DS_Store
**/.DS_Store

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# PyInstaller
*.spec

# General
*.log
*.tmp
*.bak

