# Python
__pycache__/
*.py[cod] 
.venv/

# macOS
.DS_Store
**/.DS_Store

# Jupyter
.ipynb_checkpoints/ 

# VSCode
.vscode/

# PyInstaller (compilation)
*.spec
dist/
build/

# DO NOT ADD .hintrc to this .gitignore, it is used to vents IDE-related "bugs" related to various aspects of the HTML assets.
# Those HTMLs are not web pages, just rich text assets.